<footer>
  
  <img id="divider" src="/assets/images/footer-divider.png" />

  <div class="logos">
    <a href='mailto:enclave.communication@gmail.com'>
      <img src="/assets/images/icons/icons8-envelope.svg" />
    </a>
    <a href='https://www.facebook.com/EnclaveDuDernierOrdre'>
        <img src="/assets/images/icons/icons8-facebook.svg" />
      </a>
      <a href='https://www.instagram.com/enclavedudernierordre'>
          <img src="/assets/images/icons/icons8-instagram.svg" />
        </a>
      </div>

        <p>@2019 Tous droits réservés.<br>
        L'Enclave du Dernier Ordre n'est pas associée avec The Walt Disney Compagny, Lucasfilm LTD, LFL LTD, ni autres propriétaires de I.P. reliés à la marque Star Wars™</p>
</footer>