@import '~@angular/material/theming';
@import '../../themes/black-theme.scss';
@include mat-core();

.navbar 
{
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;

    top:0;
    left: 0;
}


.mat-sidenav-container.mat-drawer-container
{
    background-color: transparent;
}
.mat-sidenav-content.mat-drawer-content
{
    overflow: hidden;
}

.mat-toolbar
{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    opacity: 0.9;
}

.mat-button 
{
    padding: 7pt;    
}


  
.navbar-spacer {
    flex: 1 1 auto;
}

#toolbar-row 
{
    min-height: 70px
}

#logo
{
    outline: none;
    display: inline-flex;
    vertical-align: middle;
}

#logo > img {
    height: 65px; 
    margin:  auto 0;
 }
 
.gold > a
{
    color: mat-color($edo-black-accent);
}