@import '~@angular/material/theming';

$config: mat-typography-config();

.navbar
{
    height: 100vh; 
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.mat-button {
    padding: 7pt;    
}

  
.navbar-spacer {
    flex: 1 1 auto;
}

#toolbar-row 
{
 min-height: 70px
}

#logo
{
    outline: none;
    display: inline-flex;
    vertical-align: middle;
}

#logo > img {
    height: 65px; 
    margin:  auto 0;
 }
 
.gold > a
{
    color: #D9A415
}