@import './fonts/hemi-head.scss';
@import './fonts/AGENCYR.ttf';
@import '~@angular/material/theming';

$general-typography: mat-typography-config(
  $font-family: 'Agency FB, arial',
  $body-2:        mat-typography-level(14px, 24px, 600),
  $body-1:        mat-typography-level(20px, 24px, 200),
  $display-1:     mat-typography-level(35px, 42px, 600),  
  $button:        mat-typography-level(20px, 32px, 200),
  $title:         mat-typography-level(22px, 24px, 200),
);

$secondary-typography: mat-typography-config(
  $font-family: 'Hemi Head, arial',
  $title:        mat-typography-level(20 px, 24px, 200),
);

@include mat-core($general-typography);

$edo-black-primary: mat-palette($mat-grey, 900, 300, 900);
$edo-black-accent: mat-palette($mat-amber);
$edo-black-warn: mat-palette($mat-red, 500);

$edo-black-theme: mat-dark-theme(
  $edo-black-primary,
  $edo-black-accent,
  $edo-black-warn
);

@include angular-material-theme($edo-black-theme);
