@import '~@angular/material/theming';
@import '../../themes/black-theme.scss';
@import '../../themes/btn-theme.scss';
@include mat-core();

@media screen and (max-width: 1200px) {
     .global-home { width:100%; }
    }
@media screen and (min-width: 1200px) and (max-width: 1450px) {
    .global-home { width: 80% ; }
}
@media screen and (min-width: 1450px) {
    .global-home { width: 60% ; }
}

.global-home
{   
    height: 100vh;
    padding: 0;
    background-image: url('../../assets/images/home/home-container-bg.png');
    background-repeat: repeat;
    background-size: 50% 40%;
    margin-top: 70px;
    max-width: 1000px;
}

.slider
{
    width: 55%;
    height: 350px;
}

.left > .slider 
{ 
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
    float: right;
}

.right > .slider 
{ 
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    float: left;
}

.home-text
{
    padding: 5% 5% 0% 5%;
    color: white;
}

.home-text > h2
{
    font-family: mat-font-family($secondary-typography);
    font-size: mat-font-size($secondary-typography,title);
}

.left > .home-text 
{
    text-align: left;
}

.right > .home-text
{
    text-align: right;

}
.red > .home-text > h2 { color: red; }
.blue > .home-text > h2 { color: rgb(0, 102, 255) }

.red > .home-text > .mat-button { border-color: red; }
.blue > .home-text  > .mat-button { border-color: rgb(0, 102, 255); }

.home-button
{
    margin: 20px;
    text-align: center;
}

